body {
    font-size: 18px;
    line-height: 1.5rem;
}

header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;

}

header,
footer {
    background-color: #182865;
    color: #D04228;
    text-align: center;
    border-radius: 10px;
}

header, footer {
    padding: 1.5rem;
}

h2 {
    padding: 10px;
}
img {
    float: right;
    margin: 10px;
    border: 1px solid #182865;
    border-radius: 10px;
    overflow: auto;
    position: relative;
}

#mainfoot a {
    color: #fff;
}
#mainfoot a:hover {
    color: #D04228;
}