/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');*/

body {
    font-size: 18px;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;

}

header,
footer {
    background-color: #182865;
    color: pink;
    text-align: center;
    padding: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}


h2 {
    padding: 10px;
}
header img {
    margin: 10px;
    border: 1px solid #182865;
    border-radius: 10px;
    overflow: auto;
    position: relative;
}

#mainfoot a {
    color: #fff;
}
#mainfoot a:hover {
    color: pink;
}

#currentdate {
    color: #fff;
}