@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 960px;

}
img {
    max-width: 100%;
    margin: 10px auto;
    display: flex;
}
h3 {
    font-size: 18px;
    padding: 10px;
    background-color: #192964;
    color: #FFBFC9;

}
p {
    margin: 10px;
}
header,
footer {
    background-color: #182865;
    color: pink;
    text-align: center;
    padding: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

a { 
    text-decoration: none;
}
#block1 { 
    background-color: #d3d3d3;
}
#block2 { 
    background-color: #d3d3d3;
}
#block3 { 
    background-color: #d3d3d3;
}
#mainfoot a {
    color: #fff;
    text-decoration: none;
}
#mainfoot a:hover {
    color: pink;
}