@media only screen and (min-width: 60em) {
  .direct button {
    display: inline;
  }  

  .cards {
        grid-template-columns: 1fr 1fr 1fr;
      }
    
      .cards section {
        display: block;
      }
    
    .headings h1 {
        font-size: 3rem;
    }
.list-view section {
  display: inline;
}
#social {
  padding-left: 0.5em;
  margin: auto;
  width: 20%;
  
}
.direct-buttons {
  display: block;
}
.direct-buttons button {
  background-color: #304B66;
  color: white;
 }
}