
header {
    background-color: #304B66;
    display:flex;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav {
	/* margin: 0 auto; */
	width:100%;
  background-color: #304B66;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: right;
	text-decoration: none;
	color: white;
	font-weight: 700;
}
.navigation a:hover {
	color:  #304B66;
	background-color:#748880;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
}

.responsive li {
	display: block;
}
main {
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
   
}

main img {
    max-width: 100%;
}

main p {
    font-size: 16px;
}
.section1 {
    padding-bottom: 10px;
}
footer {
    text-align: center;
    background-color: #748880;
    padding: 10px 0;
}
footer a {
    color:white;
    text-decoration: none;
}
footer a:active {
    color:white;
    text-decoration: none;
}
main button {
    padding: 10px;
    background-color: #DEED58;
}
.why button {
    margin-top: 20px;
}
main button a{
    text-decoration: none;
    color: #304B66;
}
 .why {
     padding-top: 5px;
     background-color:#304B66;
     color: white;
     padding-bottom: 10px;
 }

 .why p {
     margin: 0 20px 0 20px;
 }

 .events {
    padding-top: 5px;
    padding-bottom: 10px;
    background-color:#304B66;
    color: white;
}

.events p {
    margin: 0 20px 0 20px;
}

.forecastdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: whitesmoke;
}

#temp1, #temp2, #temp3 {
    color: #304B66;
    font-family: 'Montserrat';
    font-size: 1.2em;
  }
  
  #day1, #day2, #day3{
    background-color: #304B66;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
  }

  .summary {
  font-size: .75em;
	background: radial-gradient(#274666, #304B66);
	border: 1px solid #000;
	padding: 5px;
	box-shadow: 0 0 30px #111;
    opacity: .8;
    margin: 10px 0 0 10px;
}

.summary p {
    color: white;
    font-weight: bolder;
  }
  
  .summary h3 {
    color: white;
    font-weight: bolder;
    font-size: 30px;
  }

  form fieldset {
    margin: 2rem 0;
    border: 1px solid #304B66;
    border-radius: 10px;
    padding: .5rem 2%;
  }
  
  form legend {
    color: #304B66;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.2rem;
  }
  
  form label.top, form label.info, form div {
    display: block;
    padding-top: 1rem;
    color: #304B66;
    font-size: .8rem;
  }
  
  form label.info input:required {
    border-left: red solid 6px;
  }
  
  form label.info input:required:valid {
    border-left: green solid 6px;
  }
  
  form label.top input, form label.info input, form label.top textarea, form label.info textarea{
    display: block;
    font-size: 1rem;
    border: solid 1px #000;
    border-radius: 4px;
    padding: .5rem;
    color: #304B66;
    width: 100%;
    max-width: 20rem;
    background-color: #ffffff;
  }
  
  form label.radios {
    display: block;
    padding-top: 1em;
  }
  
  
  
  form input.submit_button {
    border: none;
    background-color: #304B66;
    color: white;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: auto;
    margin-top: 10px;;
    margin-bottom: 10px;
    width: 96%;
    max-width: 15rem;
  }
.plans {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.silver {
    background-color: silver;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    grid-column: 1/2;
    border-radius: 10px;
    border: #304B66 solid;
}
.bronze {
    background-color: #cd7f32;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    grid-column: 2/3;
    border-radius: 10px;
    border: #304B66 solid;
}
.gold {
    background-color: gold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    grid-column: 2/3;
    border-radius: 10px;
    border: #304B66 solid;
}
.non {
    background-color: green;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    grid-column: 1/2;
    border-radius: 10px;
    border: #304B66 solid;

}

.cards {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
  
  .cards section {
    margin: auto;
    border: 2px solid #000;
    background-color: #bebbbb;
    border-radius: 8px;
    height: 100%;
    width: 80%;
  }
  
   .direct-buttons {
     display: none;
   }
  .cards section img {
    border-radius: 8px;
    width: 80%;
    height: auto;
    padding: 5px;
    filter: blur(0em);
    transition: filter 1s;
    max-width: 300px;
  }

  .contact_info {
    grid-column: 1;
    margin: auto;
  }
  
  .contact_info h3, .contact_info h4 {
    text-align: center;
    color: #304B66;
  }
  
  #social {
    padding-left: 0.5em;
    margin: auto;
    width: 40%;
    
  }

  #social li{
    list-style-type: none;
    width: 2em;
    float: left;
    margin: 0.5em;
  }
  
  #social a:hover svg {
    fill: #666;
  }
  #social img{
    width: 100%;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .board li {
    list-style-type: none;
    text-align: center;
    margin: auto;
  }

  .board {
    background-color: #304B66;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .direct button {
    display: none;
    
  }

  /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
